.metadata/**
.recommenders/**
.settings/**
bin/**
target/**
versions/**
**/psd/**
*.class
*.dtd
*.sh
*.bat
*.lnk
*.txt

.classpath
.project
maven.build.log

# IntelliJ IDEA Project stuff
.idea/
out/
*.iws
*.iml
*___jb_*___
